* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin: 25px 75px 50px 75px; /* margen de la derecha */
    padding: 20px;
}

p {
    font-family: 'Montserrat', sans-serif !important;
}

h1 {
    font-family: 'Montserrat', sans-serif !important;
    padding-left: 180px;
    padding-bottom: 35px;
    color: #67081a;
}

h2 {
    font-family: 'Montserrat', sans-serif !important;
    text-align: right;
    padding-right: 360px;
    padding-bottom: 35px;
    color: #67081a;
}

h3 {
    font-family: 'Montserrat', sans-serif !important;
    padding-left: 180px;
    padding-bottom: 35px;
    color: #67081a;
}

h4 {
    font-family: 'Montserrat', sans-serif !important;
    padding-left: 180px;
    padding-bottom: 35px;
    color: #67081a;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
